@font-face {
    font-family: myFirstFont;
    src: url(fonts/Emmascript_MVB_Std_Regular.otf);
  }

  * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(27, 27, 27);
  }
  
  nav .navbar-brand {
    font-family: myFirstFont;
    font-size: 35px;
    color: rgb(27, 27, 27) !important;
  }