<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">

        <p class="navbar-text">&copy;2023 All rights reserved</p>
        </div>
    </nav>
</footer>


<!-- File: assignment1, Ka Wai Yim (300756473), 4/10/2023-->