<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>


        <main>
            <div class="jumbotron">
                <h1>Services</h1>
            </div>
            <div class="container mt-5">
                <img src="img/web_banner.jpg" class="img-fluid mb-4" alt="Project 3">
                <p>As a Front-end Developer with a passion for software engineering, I offer a range of services
                    tailored to meet your digital needs:</p>

                <!-- Service 1 -->
                <div class="service">
                    <h2>Web Development</h2>
                    <p>From concept to execution, I craft responsive and user-friendly websites that bring your ideas to
                        life. Whether it's a personal blog, an e-commerce platform, or a corporate website, I ensure a
                        seamless online presence.</p>
                </div>

                <!-- Service 2 -->
                <div class="service">
                    <h2>UI/UX Design</h2>
                    <p>User experience is at the core of my design philosophy. I create intuitive and visually appealing
                        interfaces that enhance user engagement and satisfaction. Let's turn your vision into a stunning
                        user experience.</p>
                </div>

                <!-- Service 3 -->
                <div class="service">
                    <h2>Front-end Development</h2>
                    <p>With expertise in HTML, CSS, and JavaScript, I specialize in building interactive and dynamic web
                        applications. I focus on optimizing performance, responsiveness, and accessibility to deliver
                        top-notch front-end solutions.</p>
                </div>

                <!-- Add more services as needed -->

            </div>
        </main>

        <!--bottom nav-->


        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>


                <!-- File: assignment1, Ka Wai Yim (300756473), 4/10/2023-->